/*general*/
html {
  scroll-behavior: smooth;
}

body
{
margin: 0;
padding: 0;
font-family: 'Hahmlet', serif;
overflow-x: hidden;
overflow-y: scroll;
background-color: #fdfcfd;
}

#red {
background-color: #A63D40;
}

#red-text {
color: #A63D40;
}

#black {
color: #26272b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-products {
  padding: 50px 0 50px;
}

.section-products .header {
  margin-bottom: 50px;
}

.section-products .header h3 {
  font-size: 1rem;
  color: #fe302f;
  font-weight: 50px;
}

.section-products .header h2 {
  font-size: 2.2rem;	
  color: #444444; 
}


#product-description {
margin: 0;
}


/*carousel*/


.carousel-item img {
  height: 760px !important;
    width: 100% !important;
    object-fit: cover;
}


/*general*/
html {
    scroll-behavior: smooth;
}

body
{
  margin: 0;
  padding: 0;
  font-family: 'Hahmlet', serif;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fdfcfd;
}

#red {
  background-color: #A63D40;
}

#red-text {
  color: #A63D40;
}

#black {
  color: #26272b;
}


/* product card */

.product-inner-box .icons{
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  top: 5%;
  transition: all 0.25 ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.product-inner-box .icons a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #fff;
  }

.product-inner-box .onsale .badge {
  background: #000;
  font-size: 12px;
  padding: 5px 14px;
  top: 0px;
  position: absolute;
}
  
.product-inner-box .onsale .badge:before{
  border-width: 10px 0px 0px 10px;
  border-color: transparent transparent transparent #000;
  content: "";
  position: absolute;
  right: -8px;
  width: 0;
  bottom: 0;
  border-style: solid;

}

.product-inner-box .onsale .badge:after{
  border-width: 10px 8px 0px 10px;
  border-color: #000 transparent transparent;
  content: "";
  position: absolute;
  right: -8px;
  width: 0;
  bottom: 0;
  border-style: solid;
  }

.product-inner-box img{
  box-shadow: 0 33px 61px -29px rgb(0 0 0 / 26%);
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.product-box.is-hover .icons{
  transform: rotateY(-3%);
  top: 3%;
  opacity: 1;
}

.cart-btn {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}
